# basic datasource stuff
spring.datasource.url=jdbc:postgresql://localhost:5432/awesomenotes
spring.datasource.username=
spring.datasource.password=

# we're using 12, but maybe this will be ok. helps hibernate write better SQL
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQL10Dialect

# adjust DB schema based on updates to the model information
spring.jpa.hibernate.ddl-auto=update

jwt.expiration.time=900000